<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <% if @e %>
    	<h1><%= @e.message %><br/></h1>
    	<%= @e.backtrace %><br/>
    <% end %>
    <% if @response_obj %>
      <h1><%= @response_obj %></h1>
    <% end %>
  </body>
</html>