<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>Headto: Tell your friends where you are heading</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Tell your friends where you are heading.">
<meta name="keywords" content="ip, ip address, geolocation, hostname, my ip, address, ip geo">

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="stylesheets/headto.css" rel="stylesheet">

<script type="application/javascript" src="javascripts/microajax.js"></script>
<script type="application/javascript" src="javascripts/move.min.js"></script>
  
<script type="application/javascript">

var my_coord = "";
var fill_in = "";

function getIP(res) {
    my_coord = res.loc;
    //document.getElementById("my_location").innerHTML = "<img src='https://maps.googleapis.com/maps/api/staticmap?center=" + my_coord + "&zoom=15&size=640x200&sensor=false'></img>"
}

function hitFoursquareAPI(query) {
  microAjax("/api/foursquare/venues?query=" + query + "&ll=" + my_coord, function (res) {

    fill_in = res;
    move('#result')
      .scale(0)
      .duration(100)
      .end(function() {
        document.getElementById("result").innerHTML = fill_in;  
        move('#result')
          .scale(1)
          .duration(300)
          .end();
      });
  });
}

</script>
<script>

function showFBLoginButton(venue_id) {

  var button_string = "";

  FB.getLoginStatus( function(response) {
    if (response.status === 'connected') {
      console.log("User is already authenticated.");

      var uid = response.authResponse.userID;
      var accessToken = response.authResponse.accessToken;
      console.log("Got token: " + accessToken);

      button_string = "<form action='postAction/" + venue_id + "' method='get'><input type='submit' value='Tell your friends'></form>";
      
    } else if (response.status === 'not_authorized') {
      console.log("User is logged in, but not authorized.");
      button_string = "<input type='button' onclick='loginToFB();' value='Allow us to tell your Facebook friends!' />";
      
    } else {
      console.log("User is not logged in...");
      button_string = "<input type='button' onclick='loginToFB();' value='Login to Facebook and tell your friends!' />";
      
    }
  });

  return button_string;
}

function loginToFB() {
  FB.login(function(response) {
        if (response.authResponse) {
          console.log('Welcome!  Fetching your information.... ');
          FB.api('/me', function(response) {
            console.log('Good to see you, ' + response.name + '.');
          });
        } else {
          console.log('User cancelled login or did not fully authorize.');
        }
      }, {scope: 'email, publish_actions'});
}
</script>

</head>
<body>

  <div id="fb-root"></div>
  <script type="text/javascript">
  // initialize FB object
  window.fbAsyncInit = function() {
    FB.init({
      appId      : 479332218823511,                         // App ID
      channelUrl : "/channel.html", // Channel File
      status     : true,                                    // check login status
      cookie     : true,                                    // enable cookies to allow the server to access the session
      xfbml      : true                                     // parse XFBML
    });

    // Listen to the auth.login which will be called when the user logs in
    // using the Login button
    FB.Event.subscribe('auth.login', function(response) {
      // We want to reload the page now so Ruby can read the cookie that the
      // Javascript SDK sat. But we don't want to use
      // window.location.reload() because if this is in a canvas there was a
      // post made to this page and a reload will trigger a message to the
      // user asking if they want to send data again.
      window.location = window.location;
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  </script>

  <div id="result-fb"></div>

  <div class="container-narrow">

    <div class="masthead">
      <div class="pull-right">
        <br><p class="muted">Tell your friends where you are heading.</p>
      </div>
      <h1 class="muted">&#10548; Headto</h1>
    </div>
    <hr>


    <div class="jumbotron">
      <br>
      <input type="text" name="query" placeholder="Where are you heading today?" style="font-size: 1.5em; height: 20px; width: 60%; padding: 10px;" onkeyup="hitFoursquareAPI(this.value);" autocomplete="off"/>
      <br><br>

      <div id="my_location" style="position: relative"></div>
      <div id="result"></div>

    </div>

    <div class="footer">
      <hr/>
      <p class="muted pull-right">&#10548; Headto</p>
      <p class="muted">
        Get the <a href="http://github.com/paramaggarwal/headto">code</a>.
        Location data by <a href="http://foursquare.com">Foursquare</a>.
      </p>
    </div>

  </div>
  <script type="application/javascript" src="//ipinfo.io/?callback=getIP"></script>
</body>
</html>